body {
  background: #e7ce5e;
  background: linear-gradient(90deg, rgba(206, 231, 94, 0.5), rgba(144, 202, 149, 0.5));
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-phrase {
  font-family: Mate SC, sans-serif;
  font-size: 50px;
}

input {
  width: 350px;
  height: 40px;
  color: rgb(195, 218, 112);
  font-family: Mate SC, sans-serif;
  font-size: 20px;
  border-radius: 10px;
  border: 5px solid rgba(189, 209, 152, 0.7);
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: -15px;
}

.photo-item {
  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid rgb(195, 218, 112);
  overflow: hidden;
}

.photo-card {
  position: relative;
  height: inherit;
  background-size: contain;
}

.stats {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 1;
  bottom: 0;
  width: 100%;
  height: 50px;
  min-width: 100%;
  padding: 10px;
  background: hsla(0, 0%, 74.1%, 0.4);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.75);
}

img {
  cursor: pointer;
  object-fit: cover;
}
